<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Overdue Loan Reminder</title>
</head>
<body>
    <p>Hello, <span style="font-weight: bold" th:text="${user}"></span>!</p>
    
    <p style="text-align: justify">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vel velit sit amet 
        ligula vehicula egestas. Nam ornare molestie quam, a maximus nisi pulvinar eget. Integer 
        dignissim, nisl id iaculis scelerisque, lacus lacus blandit ex, nec rhoncus massa libero 
        in eros. Maecenas molestie at augue eu tempor. Donec laoreet condimentum quam eu cursus. 
        Aliquam in lacus eget massa faucibus luctus et vel leo. Donec blandit, mauris euismod 
        vulputate eleifend, ligula enim feugiat tellus, sit amet venenatis dolor justo ac lectus. 
    </p>
</body>
</html>